* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    padding: 0;
    margin: 0;
}

button {
    background: none;
    outline: none;
    border: none;
}

li {
    list-style: none;
}

body {
    font-family: "Helvetica Neue", serif;
    display: grid;
    grid-template-columns: 373px 1fr;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

.managment_buttons {
    grid-column: 1;
    grid-row: 1;
}

.filter{
    grid-row: 1;
    grid-template: 2;
}

.list_tasks{
    grid-row: 2;
    grid-column: 1;
}

main{
    grid-row: 2;
    grid-column: 2;
}

.list_dashboards{
    grid-row: 3;
    grid-column: 1/-1;
}