.list_new_task {
    padding-left: 20px;
    font-size: 28px;
}

.list_task_title1 {
    font-size: 15pt;
    position: relative;
}

.list_task_title2 {
    position: absolute;
    right: 0;
}

.list_task_title1:nth-child(2n) {
    margin-left: 10px; 
    margin-right: 20px;
}

.list_task_title1:nth-child(2n+1) {
    margin-right: 10px; 
}

.list_task_title1:first-child {
    margin-bottom: 10px;
}

.list_task_input1 {
    width: 80%;
    box-sizing: border-box;
    background-color: #b8e3fe;
    border-radius: 5px;
    font-size: 18px;
}

.list_task_input2 {
    width: 80%;
    height: 400px;
    resize: none;
    background-color: #b8e3fe;
    border-radius: 5px;
    font-size: 18px;
}

.list_task_input_color {
    background-color: #b8e3fe;
    border-radius: 5px;
    font-size: 18px;
}

.list_task_table {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}