.button1 {
	position: fixed;
	z-index: 10;
	top: 0;
	right: 0px;
	font: 15px Georgia;
	text-align: right;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;

	}

.button1 img {
	cursor: pointer;
}

#s_panel {
	background-color: white;
	z-index: 1;
	top: 0;
	margin-top: 56px;
	position: fixed;
	right: -400px;
	width: 400px;
	height: calc(100% - 56px);
    border: solid black 1px;
    box-sizing: border-box;
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	}
#s_panel.opened_panel{
    right: 0;
}
#s_panel label{
	cursor: pointer;
}
.cl{
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.cl input{
	margin-right: 3px;
}
.ri{
    margin-bottom: 5px;
    margin-top: 5px;
    margin-right: 30px;
}
.li{
    margin-bottom: 5px;
	margin-top: 5px;
	margin-left: 10px;
}
.cl3{
	position: absolute;
	width: 100%;
    bottom: 0;
}