<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" href="static/img/logo.png">

    <link rel="stylesheet" href="static/styles/init.css">
    <link rel="stylesheet" href="static/styles/filter.css">
    <link rel="stylesheet" href="static/styles/managment_buttons.css">
    <link rel="stylesheet" href="static/styles/list_dashboards.css">
    <link rel="stylesheet" href="static/styles/list_tasks.css">
    <link rel="stylesheet" href="static/styles/main/tree.css">
    <link rel="stylesheet" href="static/styles/right_menue.css">
    <link rel="stylesheet" href="static/styles/list_new_task.css">
    <link rel="stylesheet" href="static/styles/select_box.css">
    <link rel="stylesheet" href="static/styles/my.css">

    <script src="https://cdn.anychart.com/releases/8.9.0/js/graphics.min.js" type="text/javascript"></script>
</head>

<body>
    <div class="my_wrap hide">
        <div class="my_div">
            Имя таблицы: <input type="text" id="input_create_table" placeholder="Имя тегга">
            <button id="button_create_table">Создать таблицу</button>
        </div>
    </div>
    <div class="create_tag_wrap my_wrap hide">
        <div class="create_tag my_div">
            Имя тега: <input type="text" id="input_create_tag" placeholder="Имя тегга">
            <button id="button_create_tag">Создать тег</button>
        </div>
    </div>
    <div class="managment_buttons">
        <p>Modern<br>Task Manager</p>
        <button class="managment_buttons_add">Добавить</button>
        <button class="managment_buttons_remove">Удалить</button>
    </div>
    <div class="filter">
        <div class="filter_list_boards">
            <div class="select_box">
                <div class="options_container">
                    <div class="option">
                        <p data-name="Доски" data-price="3000">
                            Доски
                        </p>
                    </div>
                </div>
                <div class="selected" data-name="Атравматичная чистка" data-price="5500">
                    Доски
                </div>
            </div>
        </div>

        <div id="bt1" class="button1"><img style="background-color: white" src="static/img/menue.png" height="56px"
                width="100%"></div>
    </div>
    <div class="list_tasks">
        <ul>
        </ul>
    </div>

    <main>
        <div class="wrap_tree hide">
            <div class="tree">
                <div id="contauner"></div>
            </div>

            <button class="scale scaleIncrease">+</button>
            <button class="scale scaleOut">&ndash;</button>
        </div>

        <div id="s_panel">
            <center>
                <p class="li">Фильтровать по:</p>
            </center>
            <left>
                <p class="li">Тегам:</p>
            </left>
            <left>
                <p class="li">Сотрудникам:</p>
            </left>

            <div class="cl3">
                <center>
                    <p class="li">Отсортировать по:</p>
                </center>
                <p class="li">Дедлайнам</p>
                <div class="cl"><label class="li"><input type="checkbox">Сначала ближайшие</label><label
                        class="ri"><input type="checkbox">Сначала дальние</label></div>
                <p class="li">Дате обновления</p>
                <div class="cl"><label class="li"><input type="checkbox">Сначала новые</label><label class="ri"><input
                            type="checkbox">Сначала дальние</label></div>
                <p class="li">Сложности</p>
                <div class="cl"><label class="li"><input type="checkbox">Сначала сложные</label><label class="ri"><input
                            type="checkbox">Сначала простые</label></div>
            </div>
        </div>

        <div class="list_new_task hide">
            <p class="list_task_title"><b>Краткое описание задачи</b><button class="list_task_button">Сохранить</button>
            </p>

            <input type="text" class="list_task_input1" name="short_descpription" maxlength="50">
            <p><b>Полное описание задачи</b></p>
            <textarea type="text" name="description" class="list_task_input2"></textarea>

            <div class="list_task_table">
                <span class="list_task_title1">
                    Контролирующий:
                    <span class="list_task_title2"><input type="text" class="list_task_input_color" id="checking"
                            name="checking"></span>
                </span>
                <span class="list_task_title1">
                    Исполнитель:
                    <span class="list_task_title2"><input type="text" class="list_task_input_color" id="executor"
                            name="executor"></span>
                </span>
                <span class="list_task_title1">Сложность:
                    <span class="list_task_title2">
                        <input type="range" step="1" min="1" max="5" list="rangeList"
                            onchange="document.getElementById('rangeValue').innerHTML = this.value;">
                        <span id="rangeValue">3</span>
                    </span>
                </span>
                <span class="list_task_title1"> Дедлайн:
                    <span class="list_task_title2"><input type="date" class="list_task_input_color" id="deadline"
                            name="deadline"></span>
                </span>
            </div>

            <p id="p_id"><b>Теги </b>
                <span class="list_task_tag">frontend <button style="cursor: pointer;">X</button></span>
{#                <input type="text" class="list_task_input_color">#}
                <button id="go_to_create_tag">Создать тег</button>
                <script>
                    document.getElementById("go_to_create_tag").addEventListener("click", () => {
                        document.querySelector(".create_tag_wrap").classList.remove("hide");
                    });
                </script>
            </p>
        </div>
    </main>
    <div class="list_dashboards">
        <ul class="list_dashboards_list">
            <li class="list_dashboards_item" id="zero_panel"><span>Контрольная панель</span></li>
            <li class="list_dashboards_item list_dashboards_add"><button>+</button></li>
        </ul>
    </div>

    <script src="static/scripts/url.js"></script>
    <script src="static/scripts/store.js"></script>
    <script src="static/scripts/httpHelper.js"></script>
    <script src="static/scripts/listDashboards.js"></script>
    <script src="static/scripts/tree.js"></script>
    <script src="static/scripts/events.js"></script>
    <script src="static/scripts/maker.js"></script>
    <script src="static/scripts/initDatas.js"></script>
    <script>
        (() => {
            const managment_buttons_add = document.querySelector(".managment_buttons_add");
            const managment_buttons_remove = document.querySelector(".managment_buttons_remove");
            const list_tasks = document.querySelector(".list_tasks");
            const wrap_tree = document.querySelector(".wrap_tree");

            // document.querySelectorAll(".list_dashboards_list li:not(:last-child)").forEach(li => {
            //     li.addEventListener( 
            //     if (li.id === "zero_panel") {
            //         managment_buttons_add.classList.remove("hide");
            //         managment_buttons_remove.remove("hide");
            //         list_tasks.classList.remove("hide");
            //         wrap_tree.classList.add("hide");
            //     } else {
            //         managment_buttons_add.classList.add("hide");
            //         managment_buttons_remove.add("hide");
            //         list_tasks.classList.add("hide");
            //         wrap_tree.classList.remove("hide");
            //     }
            // });
        });
    </script>
    <script>
        let panel = document.getElementById("s_panel")
        document.querySelector("#bt1 img").addEventListener("click", () => {
            panel.classList.toggle("opened_panel")
        })
    </script>
</body>

</html>