.filter{
    background-color: white;
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid black;
}

.filter_list_boards{
    background-color: white;
    text-align: center;
    width: 62.5%;
    font-size: 25px;
}