.list_tasks{
    background-color: #375775;
}

.descrip{
    padding-top: 5px;
    margin-left: 10%;
}

.deadline{
    padding-top: 10px;
    font-size: 25px;
    margin: 5px;
}

.dash{
    font-weight: bold;
}

.task{
    font-size: 20px;
    margin-top: 5px;
}

.tasks_description{
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    color: white;
    list-style: none;
    height: 50px;
}

.duff{
    display: flex;
    flex-direction: row-reverse;
    border-bottom: 2px solid #396893;
    padding-bottom: 10px;
}
.tasks{
    display: flex;
    flex-direction: column;
}

.level{
    transform: skew(-20deg,0deg);
    background-color: #c4e2fd;
    color: white;
    margin-right: 10px;
    width: 15px;
    height: 4px;
}