.list_dashboards {
    background-color: rgb(119, 119, 119);
    position: relative;
    padding: 3px 5px;
}

.list_dashboards_list {
    display: flex;
}

.list_dashboards_add {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    width: 16px;
    height: 16px;
    border-radius: 100%;
}